.intro {
  @apply bg-contain py-5 md:py-16 mb-16;
}

.intro-heading,
.intro-subheading {
  @apply text-center text-fus-brand-dark;
}

.intro-heading {
  @apply text-2xl font-bold md:text-4xl;
}

.intro-subheading {
  @apply text-sm font-medium md:text-base;
}

.intro-btn {
  @apply w-fit cursor-pointer bg-main-yellow px-4 py-2 font-medium 
    text-fus-brand-dark transition-all duration-150 ease-in-out 
    hover:bg-fus-brand hover:text-main-white;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.banner-img {
  @apply max-h-[70vh] object-contain object-center 2xl:max-h-[50vh];
}

.intro-scroll-to {
  @apply rounded-lg border-none bg-fus-brand p-2 text-main-white
    outline-none transition-all duration-150 ease-in-out hover:bg-fus-brand/80 md:p-3;
}
